<div class="map-container">
  <div id="dropdown">
    <dl class="dropdown_hydro">
      <dt>
        <a href="#"><span class="hide">Hydrologic Region</span></a>
      </dt>
      <dd>
        <div class="mutliSelect_hydro">
          <ul>
            <% @regions.each do |region| %>
            <li><input type="checkbox" value="<%= region %>"><%= region %></li>
            <% end %>
          </ul>
        </div>
      </dd>
    </dl>

    <dl class="dropdown_station">
      <dt>
        <a href="#"><span class="hide">Water Stations</span></a>
      </dt>
      <dd>
        <div class="mutliSelect_station">
          <ul>
            <% @stations.each do |station| %>
            <li><input type="checkbox" value="<%= station %>"><%= station %></li>
            <% end %>
          </ul>
        </div>
      </dd>
    </dl>
  </div>

  <div id="map"></div>
</div>

<div class="chart-container">
  <div id="chart">
    <svg></svg>
  </div>
</div>
