<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>

<div class="title"><h1>THE CALIFORNIA RESERVOIR REVIEW</h1></div>

<header>
  <div class="header-nav">
    <div class="about-link">
      About The Reservoir Review
    </div>
    <div class="how-to-link">
      How to use this map
    </div>
    <div class="about-us-link">
      Credits
    </div>
  </div>
  <div class="us"><article>Created by Claire Woods for Hackbright's Front End Development course in Fall of 2015, with contributions from Karly Bryerman and Paula Chiu, The California Reservoir Review was built with Ruby/Rails, D3, NVD3, CSS, JavaScript, JQuery, public data, and a more than standard quantity of coffee.
  <br>
  Here's a link to our repo if you'd like to inspect our work: https://github.com/adynata/The-CA-Reservoir-Review
  <br>
  <div class="about"><article>Water in California is a deep and complicated domain. This map was created as a way to make one element of the California drought a little less opaque - our state's major reservoirs. There are over 1,300 named reservoirs in the state. The stations depicted here are only those that there are publically available daily levels for, representing 27,292,765 acre feet of possible reservoir capacity, or more than 13.4 million olympic swimming pools, or 8.07 cubic miles of water, of 22.4% of Lake Tahoe.  </article></div>
  <div class="how-to"><article>Shown is information sourced from the California Data Exchange Center, reporting reservoir level information that in many cases goes back to 1990. The graph can be scoped by <a href="#">individual station</a>, <a href="#">hydrologic region</a>, or by <a href="#">all mapped stations</a>. California's current drought has been ongoing since 2012, and is the most severe drought in the state in recorded history. Previous major drought events in the state in the last 30 years include a drought that lasted from 1987 to 1992 and a drought that lasted from 2007 to 2009.</article>
  </div>


</header>
<div id="content">
  <div id="map"></div>
  <div id="chart-view">
      <div id="input-cont">
        <div id="year-input">
          <div class="c-dropdown js-dropdown">
              <input type="hidden" name="Year" id="year_to_render" class="js-dropdown__input">
              <span class="c-button c-button--dropdown js-dropdown__current">2015</span>
              <ul class="c-dropdown__list">
                <li class="c-dropdown__item" data-dropdown-value="2015">2015</li>
                <li class="c-dropdown__item" data-dropdown-value="2014">2014</li>
                <li class="c-dropdown__item" data-dropdown-value="2013">2013</li>
                <li class="c-dropdown__item" data-dropdown-value="2012">2012</li>
                <li class="c-dropdown__item" data-dropdown-value="2011">2011</li>
                <li class="c-dropdown__item" data-dropdown-value="2010">2010</li>
                <li class="c-dropdown__item" data-dropdown-value="2009">2009</li>
                <li class="c-dropdown__item" data-dropdown-value="2008">2008</li>
                <li class="c-dropdown__item" data-dropdown-value="2007">2007</li>
                <li class="c-dropdown__item" data-dropdown-value="2006">2006</li>
                <li class="c-dropdown__item" data-dropdown-value="2005">2005</li>
                <li class="c-dropdown__item" data-dropdown-value="2004">2004</li>
                <li class="c-dropdown__item" data-dropdown-value="2003">2003</li>
                <li class="c-dropdown__item" data-dropdown-value="2002">2002</li>
                <li class="c-dropdown__item" data-dropdown-value="2001">2001</li>
                <li class="c-dropdown__item" data-dropdown-value="2000">2000</li>
                <li class="c-dropdown__item" data-dropdown-value="1999">1999</li>
                <li class="c-dropdown__item" data-dropdown-value="1998">1998</li>
                <li class="c-dropdown__item" data-dropdown-value="1997">1997</li>
                <li class="c-dropdown__item" data-dropdown-value="1996">1996</li>
                <li class="c-dropdown__item" data-dropdown-value="1995">1995</li>
                <li class="c-dropdown__item" data-dropdown-value="1994">1994</li>
                <li class="c-dropdown__item" data-dropdown-value="1993">1993</li>
                <li class="c-dropdown__item" data-dropdown-value="1992">1992</li>
                <li class="c-dropdown__item" data-dropdown-value="1991">1991</li>
                <li class="c-dropdown__item" data-dropdown-value="1990">1990</li>
              </ul>
          </div>
        </div>
      </div>
      <div id="chart-container">
        <div id="chart">
          <svg></svg>
        </div>
      </div>
  </div>
</div>
<div class="footer"></div>
