<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>

<div class="title"><h1>THE CALIFORNIA RESERVOIR REVIEW</h1></div>

<div class="how-to-bar group">
  <div class="how-to-link">
    How to use this map
  </div>

</div>

<div class="how-to">
  <div class="how-to-article slideup">
    <article>  Information shown is sourced from the <a href="http://cdec.water.ca.gov/">California Data Exchange Center</a>, reporting reservoir-level information that in many cases goes back to 1990.
       <!-- The graph can be scoped by <a href="#">individual station</a>, <a href="#">hydrologic region</a>, or by <a href="#">all mapped stations</a>.  -->
       When looking at individual stations, the chart displays variance of monthly capacity level from the historic average, by percentage of capacity.
        <!-- When looking at hydrologic regions or the state as a whole, the data displayed shows the relative share of its member reservoirs, by acre feet. -->
      <br>
      <br>
    California's current drought has been ongoing since 2012, and is the most severe drought in the state in recorded history. Average capacity level is affected by previous major drought events in the last 30 years, which include droughts from 1987 to 1992 and from 2007 to 2009.

    <div class="close-button">
      Close
    </div>
    </article>
  </div>
</div>

</div>
<div id="content">
  <div id="map-selection">
    <ul>
      <li class="ss mapclick">Single station</li>
      <li class="hr">Hydrologic Region</li>
      <li class="all">Select All</li>
    </ul>
  </div>
  <div id="map"></div>
  <div id="chart-view">
      <div id="input-cont">
        <div id="year-input">
          <div class="c-dropdown js-dropdown">
              <input type="hidden" name="Year" id="year_to_render" class="js-dropdown__input">
              <span class="c-button c-button--dropdown js-dropdown__current">2015</span>
              <ul class="c-dropdown__list">
                <li class="c-dropdown__item" data-dropdown-value="2015">2015</li>
                <li class="c-dropdown__item" data-dropdown-value="2014">2014</li>
                <li class="c-dropdown__item" data-dropdown-value="2013">2013</li>
                <li class="c-dropdown__item" data-dropdown-value="2012">2012</li>
                <li class="c-dropdown__item" data-dropdown-value="2011">2011</li>
                <li class="c-dropdown__item" data-dropdown-value="2010">2010</li>
                <li class="c-dropdown__item" data-dropdown-value="2009">2009</li>
                <li class="c-dropdown__item" data-dropdown-value="2008">2008</li>
                <li class="c-dropdown__item" data-dropdown-value="2007">2007</li>
                <li class="c-dropdown__item" data-dropdown-value="2006">2006</li>
                <li class="c-dropdown__item" data-dropdown-value="2005">2005</li>
                <li class="c-dropdown__item" data-dropdown-value="2004">2004</li>
                <li class="c-dropdown__item" data-dropdown-value="2003">2003</li>
                <li class="c-dropdown__item" data-dropdown-value="2002">2002</li>
                <li class="c-dropdown__item" data-dropdown-value="2001">2001</li>
                <li class="c-dropdown__item" data-dropdown-value="2000">2000</li>
                <li class="c-dropdown__item" data-dropdown-value="1999">1999</li>
                <li class="c-dropdown__item" data-dropdown-value="1998">1998</li>
                <li class="c-dropdown__item" data-dropdown-value="1997">1997</li>
                <li class="c-dropdown__item" data-dropdown-value="1996">1996</li>
                <li class="c-dropdown__item" data-dropdown-value="1995">1995</li>
                <li class="c-dropdown__item" data-dropdown-value="1994">1994</li>
                <li class="c-dropdown__item" data-dropdown-value="1993">1993</li>
                <li class="c-dropdown__item" data-dropdown-value="1992">1992</li>
                <li class="c-dropdown__item" data-dropdown-value="1991">1991</li>
                <li class="c-dropdown__item" data-dropdown-value="1990">1990</li>
              </ul>
          </div>
        </div>
      </div>
      <div id="chart-container group">
        <div id="chart">
          <svg></svg>
        </div>

      </div>

  </div>
  <div class="chart-title">
    <span class="res-name"></span>,
    <span class="res-year"></span>
  </div>
  <div class="beachball"></div>
  <div class="chart-info">
    <span class="chart-type">Average for specific year compared to 40 year average, as percentage of maximum capacity.</span>
    <br>
    County: <span class="res-county"></span><br>
    Reservoir Max Capacity: <span class="res-max"></span> af,
    Hydrologic Region: <span class="res-hr"></span><br>
  </div>

</div>
<div class="after-map">

  <div class="arrow-down"></div>
  <div class="about-nav">
    <div class="about-link">
      About The Reservoir Review
    </div>
    <div class="about-us-link">
      Credits
    </div>
  </div>
  <div class="us">
    <article>Developed by Claire Woods for in collaboration with Paula Chiu and Karly Bryerman.
    <br> <br>
    The California Reservoir Review was built with Ruby/Rails, d3.js, NVD3, CSS, JavaScript, JQuery, many divs, public data, and a more than standard quantity of coffee.
    <br><br>
    <a href="https://github.com/adynata/The-CA-Reservoir-Review">
    Here's a link to our repo if you'd like to inspect our work.</a>
    <br>
    </article>
  </div>
  <div class="about">
    <article>
    Water in California is a deep and complicated domain. This map was created as a way to make one element of the California drought a little less opaque - our state's major reservoirs. While there are over 1,300 named reservoirs in the state, the stations depicted here are the forty-four considered important enough by the Department of Water Resources to merit publicly available measurements on a daily basis.
    <br> <br>
    While it would be impossible to view the entire state water system at once (groundwater management, for instance, is only in its infancy), this data set provides a robust source of fairly representative information about the resources we have and how available water has fluctuated over the last 25 years.
    <br> <br>
    These reservoirs combined represent <strong>27,292,765 acre feet</strong> of possible reservoir capacity.
    <br> <br>
    That’s equivalent to more than <strong>13.4 million</strong> olympic swimming pools,
    <br> <br>
    or <strong>22.4%</strong> of Lake Tahoe,
    <br> <br>
    (It’s a very deep lake.)
    <br> <br>
    or <strong>8.07 cubic miles</strong> of water.
    <br> <br>


    </article>

  </div>

  <div class="footer"></div>

</div>
