<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700' rel='stylesheet' type='text/css'>

<div class="title" id="up"><h1>THE CALIFORNIA RESERVOIR REVIEW</h1></div>

<div class="how-to-bar group">
  <div class="how-to-link">
    How to use this map
  </div>

</div>

<div class="how-to">
  <div class="how-to-article">
    <article>  Information shown is sourced from the <a target="_blank" href="http://cdec.water.ca.gov/">California Data Exchange Center</a>, reporting reservoir-level information that in many cases goes back to 1990.
       The graph can be scoped by <a id="ss-hover" href="#">individual station</a>, <a id="hr-hover" href="#">hydrologic region</a>, or by <a id="all-hover" href="#">all mapped stations</a>.
       When looking at individual stations, the chart displays variance in monthly capacity level from the historic average, by percentage of capacity.
       When looking at hydrologic regions or the state as a whole, the data displayed shows the distributionof water in acre feet.
      <br>
      <br>
    California's current drought has been ongoing since 2012, and is the most severe drought in the state in recorded history. Average capacity level is affected by previous major drought events in the last 30 years, which include droughts from 1987 to 1992 and from 2007 to 2009.

    <div class="close-button">
      Close
    </div>
    </article>
  </div>
</div>

</div>
<div id="content">
  <div id="map-selection">
    <ul>
      <li class="ss">Single station</li>
      <li class="hr">Hydrologic Region</li>
      <li class="all">Select All</li>
    </ul>
  </div>
  <div id="map"></div>
  <div id="chart-view">
      <div id="input-cont">
        <div id="year-input">
          <div class="c-dropdown js-dropdown">
              <input type="hidden" name="Year" id="year_to_render" class="js-dropdown__input">
              <span class="c-button c-button--dropdown js-dropdown__current">2015</span>
              <ul class="c-dropdown__list">
                <li class="c-dropdown__item" data-dropdown-value="2015">2015</li>
                <li class="c-dropdown__item" data-dropdown-value="2014">2014</li>
                <li class="c-dropdown__item" data-dropdown-value="2013">2013</li>
                <li class="c-dropdown__item" data-dropdown-value="2012">2012</li>
                <li class="c-dropdown__item" data-dropdown-value="2011">2011</li>
                <li class="c-dropdown__item" data-dropdown-value="2010">2010</li>
                <li class="c-dropdown__item" data-dropdown-value="2009">2009</li>
                <li class="c-dropdown__item" data-dropdown-value="2008">2008</li>
                <li class="c-dropdown__item" data-dropdown-value="2007">2007</li>
                <li class="c-dropdown__item" data-dropdown-value="2006">2006</li>
                <li class="c-dropdown__item" data-dropdown-value="2005">2005</li>
                <li class="c-dropdown__item" data-dropdown-value="2004">2004</li>
                <li class="c-dropdown__item" data-dropdown-value="2003">2003</li>
                <li class="c-dropdown__item" data-dropdown-value="2002">2002</li>
                <li class="c-dropdown__item" data-dropdown-value="2001">2001</li>
                <li class="c-dropdown__item" data-dropdown-value="2000">2000</li>
                <li class="c-dropdown__item" data-dropdown-value="1999">1999</li>
                <li class="c-dropdown__item" data-dropdown-value="1998">1998</li>
                <li class="c-dropdown__item" data-dropdown-value="1997">1997</li>
                <li class="c-dropdown__item" data-dropdown-value="1996">1996</li>
                <li class="c-dropdown__item" data-dropdown-value="1995">1995</li>
                <li class="c-dropdown__item" data-dropdown-value="1994">1994</li>
                <li class="c-dropdown__item" data-dropdown-value="1993">1993</li>
                <li class="c-dropdown__item" data-dropdown-value="1992">1992</li>
                <li class="c-dropdown__item" data-dropdown-value="1991">1991</li>
                <li class="c-dropdown__item" data-dropdown-value="1990">1990</li>
              </ul>
          </div>
        </div>
        <div class="chart-title">
          <span class="chart-type-ss"><span class="res-name"></span>:
          <span class="chart-type-ss">Monthly averages for <span class="res-year"></span>, vs. 40yr average (as % of max. capacity)</span></span>
          <span class="chart-type-hr">Levels of reservoirs in the <span class="hydrologic_name"></span> hydrologic region, <span class="res-year"></span></span>
          <span class="chart-type-all">Summary of supply for <span class="res-year"></span>, with distribution</span>
        </div>
      </div>
      <div id="chart-container group">
        <div id="chart">
          <svg></svg>
        </div>
        <div id="chart2">
          <svg></svg>
        </div>
        <div id="chartall">
          <div id="chart3">
            <svg id="fillgauge1" width="50%" height="200"></svg>
          </div>

          <div id="chart4">
            <svg></svg>
          </div>
          <div id="chart3-sub">
            <div id="chart3label">For <span class="res-year"></span>, average percentage of capacity for represented stations.</div>
            <div id="chart4label">Distribution of water for <br>represented reservoirs, <span class="res-year"></span></div>
          </div>
        </div>

        <div id="blankchart">
        </div>

      </div>
      <div class="beachball"><img src=<%= asset_path('loading.gif') %>/></div>
      <div class="chart-info">
        <span class=chart-info-2>
            <span class="chart-type-ss">
            County: <span class="res-county"></span>,
            Reservoir Max Capacity: <span class="res-max"></span><span class="bold-also" af</span>,
            Hydrologic Region: <span class="res-hr"></span><br>
          </span>
        </span>
      </div>

  </div>



</div>
<div class="after-map">

  <a class="scroll" href="#down"><div class="arrow-down"></div></a>
  <div class="about-nav" id="down">
    <div class="about-link">
      About The Reservoir Review
    </div>
    <div class="about-us-link">
      Credits
    </div>
  </div>
  <div class="us">
    <article>Developed by Claire Woods in collaboration with Paula Chiu and Karly Bryerman.
    <br> <br>
    <p>
    The California Reservoir Review was built with Ruby/Rails, d3.js, NVD3, CSS, JavaScript, JQuery, many divs, public data, and a more than standard quantity of coffee. <a target="_blank" href="https://github.com/adynata/The-CA-Reservoir-Review"> Here's a link to our repo if you'd like to inspect our work.</a></p>
    <br>
    <p>Get in touch if you'd like to know more about this project or want to collaborate on its next phase</p>
    <!-- <img src=<%= image_path('/public/littleres.png') %>/> -->
    </article>
    <div class="contact-modal">
      <form role="form" method="POST" action="http://formspree.io/clairewoods@gmail.com" id="contact-form" >
        <input type="hidden" name="_subject" value="Information request" />
        <br>
        <input type="text" name="name" placeholder=" Your name" />
        <br>
        <input type="email" name="_replyto" autocomplete="off" id="email" placeholder="Your email">
        <br>
        <textarea name="message" rows="8" cols="40" placeholder="Your message"></textarea>
        <br>
        <button type="submit">Send a message</button>
      </form>
    </div>
  </div>
  <div class="about">
    <article>
    Water in California is a deep and complicated domain. This map was created as a way to make one element of the California drought a little less opaque - our state's major reservoirs. While there are over 1,300 named reservoirs in the state, the stations depicted here are the forty-four considered important enough by the Department of Water Resources to merit publicly available measurements on a daily basis.
    <br> <br>
    While it would be impossible to view the entire state water system at once (groundwater management, for instance, is only in its infancy), this data set provides a robust source of fairly representative information about the resources we have and how available water has fluctuated over the last 25 years.
    <br> <br>
    These reservoirs combined represent <strong>27,292,765 acre feet</strong> of possible reservoir capacity.
    <br> <br>
    That’s equivalent to more than <strong>13.4 million</strong> olympic swimming pools,
    <br> <br>
    or <strong>22.4%</strong> of Lake Tahoe,
    <br> <br>
    (It’s a very deep lake.)
    <br> <br>
    or <strong>8.07 cubic miles</strong> of water.
    <br> <br>


    </article>

  </div>
  <a class="scroll" href="#up"><div class="arrow-up"></div></a>
  <div class="footer">
    <div class="sociallinks">
    &copy 2015  |  Share this link:

    <a href="google">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 3000 2000" enable-background="new 0 0 3000 2000" xml:space="preserve">
    <g id="Layer_408">
    	<g>
    		<path class="soc-li" fill="#F63D27" d="M2500,41.7c0-22.9-18.8-41.7-41.7-41.7c0,0-947.2,0-958.3,0C947.7,0,500,447.8,500,1000
    			c0,552.3,447.7,1000,1000,1000c552.2,0,1000-447.7,1000-1000C2500,988.9,2500,41.7,2500,41.7z"/>
    		<g>
    			<path class="soc-li-f" class="soc-li-f" fill="#FFFFFF" d="M1831.5,1250h53.7c14.4,0,31.5-45,31.5-59.4V1000h183c14.3,0,67-10,67-24.4v-53.8c0-14.4-52.7-5.2-67-5.2
    				h-183V706.9c0-14.3-17.1-40.2-31.5-40.2h-53.7c-14.4,0,1.9,25.9,1.9,40.2v209.8h-216.5c-14.3,0-33.5-9.2-33.5,5.2v53.8
    				c0,14.4,19.2,24.4,33.5,24.4h216.5v190.6C1833.3,1205,1817,1250,1831.5,1250z"/>
    			<path class="soc-li-f" class="soc-li-f" fill="#FFFFFF" d="M1089,1545.6c47.7,12.2,99,18.3,152.2,18.3c47.8,0,93.4-6.3,135.6-18.5c131.4-38.2,216.4-135.1,216.4-247
    				c0-107.4-34.4-171.6-126.9-237.2c-39.6-28.1-75.7-69.3-76.3-82c0-23.1,2-34.1,53.7-74.5c66.8-52.3,103.6-102,103.6-174.8
    				c0-66-20.1-146.5-54.5-146.5h26.6c5.5,0,10.9-20.9,15.3-24.1l74.1-63.4c9.2-6.6,13.1,7.3,9.5-3.5c-3.4-10.7-13.5,7.6-24.8,7.6
    				H1262c-36.3,0-73.2-24.2-109.3-11.7C1031.9,530,947.4,617.9,947.4,723.9c0,150,116,256,271.1,259.6c-3,11.9-4.5,19.8-4.5,31.3
    				c0,23.1,5.9,43.1,17.9,64.2c-1.5,0.1-2.8-0.9-4.3-0.9c-147.8,0-281.2,72.2-331.9,180.4c-13.2,28-19.9,56.3-19.9,84.3
    				c0,27.3,7,53.5,20.7,78.2C928.3,1478.1,996.7,1522.3,1089,1545.6z M1118.5,717.9c-7.2-55,4.3-111,31.7-142.2
    				c17.7-20.2,40.8-34.2,66.7-34.2l3-1.6c73.2,2.1,143.3,83.1,156.2,181.5c7.2,55.1-18,99.5-45.7,131.1c-17.6,20.2,2.9,43-80.5,43
    				v21.1h24.8C1203,916.7,1131.4,816.2,1118.5,717.9z M1259.4,1166.7h3c24.6,0,48.5,0.8,71.1,7.8c7.8,5.3,15.2,8.9,22.5,13.8
    				c52.2,35.7,86.8,58.5,96.4,96.3c2.2,9.5,3.3,18.6,3.3,27.8c0,97.3-72.4,146.4-215.2,146.4c-108.3,0-193-63.5-193-148.4
    				C1047.5,1232.2,1146.5,1166.7,1259.4,1166.7z"/>
    		</g>
    	</g>
    </g>
    <g id="Layer_1_1_">
    </g>
    </svg>
  </a>
    <a href="linkedin">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    	 viewBox="0 0 3000 2000" enable-background="new 0 0 3000 2000" xml:space="preserve">
    <g id="Layer_419">
    	<g>
    		<path class="soc-li" fill="#0173B2" d="M2500,41.7c0-22.9-18.8-41.7-41.7-41.7c0,0-947.1,0-958.3,0C947.8,0,500,447.8,500,1000
    			c0,552.3,447.8,1000,1000,1000c552.2,0,1000-447.7,1000-1000C2500,988.8,2500,41.7,2500,41.7z"/>
    		<g>
    			<rect x="875" y="791.7" class="soc-li-f" fill="#FFFFFF" width="291.7" height="833.3"/>
    			<circle class="soc-li-f" fill="#FFFFFF" cx="1020.8" cy="520.8" r="145.8"/>
    			<path class="soc-li-f" fill="#FFFFFF" d="M2125,1167c0-224.9-48.5-375.4-310.6-375.4c-126,0-210.5,46.8-245.1,112.5h-3.6V791.7h-232.3V1625h242.8
    				v-413c0-108.9,20.6-214.4,155.3-214.4c132.8,0,143.5,124.5,143.5,221.4v406h250L2125,1167L2125,1167z"/>
    		</g>
    	</g>
    </g>
    <g id="Layer_1_1_">
    </g>
    </svg>
    </a>
    <a href="facebook"><?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 3000 2000" enable-background="new 0 0 3000 2000" xml:space="preserve">
    <g id="Layer_427">
    	<g>
    		<path class="soc-li" fill="#3C5B9B" d="M2500,41.7c0-23-18.8-41.7-41.7-41.7c0,0-947.1,0-958.2,0C947.8,0,500,447.7,500,1000
    			c0,552.2,447.8,1000,1000.1,1000c552.1,0,999.9-447.7,999.9-1000C2500,988.8,2500,41.7,2500,41.7z"/>
    		<g>
    			<path class="soc-li-f" fill="#FFFFFF" d="M1333.3,1625h250c0,0,0-345.1,0-625h185.5l22.8-250H1593V650c0-48.7,32.5-60,55.2-60
    				c22.8,0,140.2,0,140.2,0V375.8l-193.1-0.8c-214.4,0-263.1,159.8-263.1,262v113h-124v250h125
    				C1333.3,1283.3,1333.3,1625,1333.3,1625z"/>
    		</g>
    	</g>
    </g>
    <g id="Layer_1_1_">
    </g>
    </svg></a>
    <a href="twitter">
      <?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 3000 2000" enable-background="new 0 0 3000 2000" xml:space="preserve">
<g id="Layer_430">
	<g>
		<path class="soc-li" fill="#2DAAE1" d="M2500,41.7c0-23-18.8-41.7-41.7-41.7c0,0-947.1,0-958.3,0C947.7,0,500,447.7,500,1000
			c0,552.2,447.7,1000,1000,1000c552.2,0,1000-447.7,1000-1000C2500,988.8,2500,41.7,2500,41.7z"/>
		<g>
			<path class="soc-li-f" fill="#FFFFFF" d="M2090.5,518.4c-49.5,29-104.5,50-162.9,61.3c-46.7-49.1-113.4-79.8-187.2-79.8
				c-141.6,0-256.4,113-256.4,252.5c0,19.8,2.3,39,6.6,57.5c-213.1-10.5-402.1-111-528.6-263.8c-22,37.2-34.8,80.6-34.8,126.9
				c0,87.5,45.4,164.8,114.1,210.1c-42-1.3-81.6-12.7-116.2-31.5c0,1,0,2.1,0,3.2c0,122.3,88.4,224.3,205.8,247.6
				c-21.5,5.8-44.2,8.8-67.6,8.8c-16.5,0-32.5-1.6-48.2-4.5c32.7,100.2,127.4,173.3,239.6,175.3c-87.8,67.7-198.3,108.1-318.5,108.1
				c-20.8,0-41.1-1.2-61.2-3.5c113.5,71.6,248.4,113.4,393.2,113.4c471.8,0,729.7-384.6,729.7-718.2c0-10.9-0.2-21.9-0.7-32.7
				c50-35.6,93.6-80,127.9-130.7c-46,20.1-95.4,33.6-147.3,39.8C2030.8,626.9,2071.3,577.4,2090.5,518.4z"/>
		</g>
	</g>
</g>
<g id="Layer_1_1_">
</g>
</svg>

    </a>
    <a href="email">
      <?xml version="1.0" encoding="utf-8"?>
  <!-- Generator: Adobe Illustrator 18.1.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
  <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  	 viewBox="0 0 3000 2000" enable-background="new 0 0 3000 2000" xml:space="preserve">
  <g id="Layer_369">
  	<g>
  		<path class="soc-li" fill="#669C41" d="M2500,37.9C2500,15,2482.7,0,2459.8,0c0,0-947.9,0-959,0C948.1,0,500,446.5,500,999.5
  			C500,1552.6,947.3,2000,1500,2000c552.6,0,1000-449.3,1000-1002.4C2500,986.5,2500,37.9,2500,37.9z"/>
  		<g>
  			<path class="soc-li-f" fill="#FFFFFF" d="M2043.4,754.1c-2-1.6-3.8-2.3-5.5-3V438.4c0-9.1-7.3-16.5-16.1-16.5h-399.1c-1-1.2-1.8-2.3-3.3-3.6
  				l-98.7-78.1c-11.4-9-30-9-41.3,0l-98.6,78.1c-1.6,1.2-2.4,2.4-3.3,3.6H979c-8.8,0-16,7.4-16,16.5v312.4c-2,0.7-4.1,1.6-6.3,3.3
  				l-61,48.2c-11.3,9-20.6,28.4-20.6,43.1v711.1c0,14.7,11.7,26.8,26,26.8h1197.9c14.4,0,26.1-12,26.1-26.8V845.5
  				c0-14.7-9.3-34.1-20.7-43.1L2043.4,754.1z M1951.9,951.6c0,9.1-6.3,20.1-14.2,24.3l-423.3,234.2c-7.7,4.2-20.5,4.2-28.2,0
  				L1062.9,976c-7.8-4.2-14.1-15.2-14.1-24.3V509.4c0-9.1,7.2-16.5,16-16.5h871c8.8,0,16.1,7.4,16.1,16.5V951.6z"/>
  			<rect x="1144.7" y="634.4" class="soc-li-f" fill="#FFFFFF" width="250" height="257"/>
  			<rect x="1467" y="634.4" class="soc-li-f" fill="#FFFFFF" width="423.3" height="47.4"/>
  			<rect x="1467" y="730.8" class="soc-li-f" fill="#FFFFFF" width="423.3" height="47.3"/>
  			<rect x="1467" y="827.1" class="soc-li-f" fill="#FFFFFF" width="172.8" height="47.4"/>
  		</g>
  	</g>
  </g>
  <g id="Layer_1_1_">
  </g>
  </svg>
</a>
</div>
  </div>

</div>

<script>
</script>
