.background {
  fill: #85C4D3;
  pointer-events: all;
}
.feature {
  fill: #ccc;
  cursor: pointer;
}

.hydro-reg {
  fill: orange;
  z-index: 1;
  fill-opacity: 0.5;
}

.county {
  fill: #466040;
}

.states {
  fill: #9A5B18;
}

.active {
  fill: orange;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
#sta path {
  fill: orange;
  stroke: #999;
}
#sta path:hover {
  opacity: 1;
  fill: white;
}

#sta path:active {
  height: 3px;
}

.tooltip {
  position: absolute;
  text-align: left;
  padding: 10px;
  font: 12px sans-serif;
  color: white;
  background: black;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
