*,
*:after,
*:before {
    box-sizing: border-box;
}

#content{
  overflow: hidden;
}


svg {
  float:left ;
  width: 100%;
  background-color: #a8d6ce;
  border: 2px solid gray;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}


#dropdown dl{
  display: inline-block;
}
a {
  color: #fff;
}

.dropdown_hydro dd, .dropdown_hydro dt, .dropdown_station dd, .dropdown_station dt {
  margin: 0px;
  padding: 0px;
}

.dropdown_hydro ul, .dropdown_station ul {
  margin: -1px 0 0 0;
}

.dropdown_hydro dd, .dropdown_station dd {
  position: relative;
}

.dropdown_hydro a, .dropdown_hydro a:visited, .dropdown_station a, .dropdown_station a:visited  {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

/*.dropdown_hydro dt a, .dropdown_station dt a {
  background-color: #4F6877;
  display: block;
  padding: 20px 15px 5px 15px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 250px;
  text-align: center;
}*/

.dropdown_hydro dt a span, .dropdown_station dt a span{
  cursor: pointer;
  font-size: 2em;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown_hydro dd ul, .dropdown_station dd ul {
  background-color: #4F6877;
  opacity: .75;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 260px;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown_hydro span.value, .dropdown_station span.value {
  display: none;
}

.dropdown_hydro dd ul li a, .dropdown_station dd ul li a  {
  padding: 5px;
  display: block;
}

.dropdown_hydro dd ul li a:hover, .dropdown_station dd ul li a:hover {
  background-color: #fff;
}





.c-dropdown {
  position: relative;
  height: 28px;
  display: inline-block;
  text-align: left;
}

.c-dropdown__list {
  margin: 5px 0 0 0;
  padding: 6px 0;
  list-style: none;
  position: absolute;
  top: 125%;
  left: 0;
  width: 100%;
  height: 350px;
  overflow-y: scroll;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  -webkit-transition: opacity .25s linear, top .25s linear;
          transition: opacity .25s linear, top .25s linear;
}
.c-dropdown.is-open .c-dropdown__list {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
  top: 100%;
}

.c-dropdown__item {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: #434A54;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-transition: background-color .25s linear;
          transition: background-color .25s linear;
}
.c-dropdown__item:hover {
  background-color: #E6E9ED;
}

/**
 * Component: Button
 * --------------------------------------------------
 */
.c-button {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.c-button:hover, .c-button:focus {
  outline: none;
  text-decoration: none;
}
.c-button:not(:disabled) {
  cursor: pointer;
}

/**
 * Component: Button
 * Modifier: Dropdown
 * --------------------------------------------------
 */
.c-button--dropdown {
  padding: 6px 34px 6px 12px;
  background-color: #565e53;
  color: #E6E9ED;
  z-index: 10000;
  font-size: 14px;
  line-height: 20px;
  border-radius: 2px;
  -webkit-transition: background-color .2s linear;
          transition: background-color .2s linear;
}
.c-button--dropdown:hover {
  opacity: .7;
}
.c-button--dropdown:after {
  content: "";
  position: absolute;
  top: 14px;
  right: 11px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: #E6E9ED;
}
