*,
*:after,
*:before {
    box-sizing: border-box;
}

#content{
  overflow: hidden;
}



#title{
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}

svg{
  float:left ;
  width: 100%;
  background-color: #85C4D3;
  border: 2px solid gray;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

#chart-view{
  z-index: 1;
  display: block;
  position: absolute;
  background-size: 100%;
  background: white;
  float: right;
  top: 0;
  right: 0;
  width: 55%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}
#dropdown dl{
  display: inline-block;
}
a {
  color: #fff;
}

.dropdown_hydro dd, .dropdown_hydro dt, .dropdown_station dd, .dropdown_station dt {
  margin: 0px;
  padding: 0px;
}

.dropdown_hydro ul, .dropdown_station ul {
  margin: -1px 0 0 0;
}

.dropdown_hydro dd, .dropdown_station dd {
  position: relative;
}

.dropdown_hydro a, .dropdown_hydro a:visited, .dropdown_station a, .dropdown_station a:visited  {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown_hydro dt a, .dropdown_station dt a {
  background-color: #4F6877;
  display: block;
  padding: 20px 15px 5px 15px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 250px;
  text-align: center;
}

.dropdown_hydro dt a span, .dropdown_station dt a span{
  cursor: pointer;
  font-size: 2em;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown_hydro dd ul, .dropdown_station dd ul {
  background-color: #4F6877;
  opacity: .75;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 260px;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown_hydro span.value, .dropdown_station span.value {
  display: none;
}

.dropdown_hydro dd ul li a, .dropdown_station dd ul li a  {
  padding: 5px;
  display: block;
}

.dropdown_hydro dd ul li a:hover, .dropdown_station dd ul li a:hover {
  background-color: #fff;
}

.wrapper-dropdown {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 200px;
    padding: 10px;
    margin: 0 auto;

    /* Styles */
    background: #9bc7de;
    color: #fff;
    outline: none;
    cursor: pointer;

    /* Font settings */
    font-weight: bold;
}

.wrapper-dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -6px;
    border-width: 6px 0 6px 6px;
    border-style: solid;
    border-color: transparent #fff;
}
.wrapper-dropdown-1 .dropdown {
	/* Size & position */
    position: absolute;
    top: 100%;
    left: 0; /* Size */
    right: 0; /* Size */

    /* Styles */
    background: #fff;
    font-weight: normal; /* Overwrites previous font-weight: bold; */

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}
.wrapper-dropdown-1 .dropdown li a {
    display: block;
    text-decoration: none;
    color: #9e9e9e;
    padding: 10px 20px;
}

/* Hover state */
.wrapper-dropdown-1 .dropdown li:hover a {
    background: #f3f8f8;
}

.wrapper-dropdown-1.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

.wrapper-dropdown-1.active:after {
    border-color: #9bc7de transparent;
    border-width: 6px 6px 0 6px ;
    margin-top: -3px;
}

.wrapper-dropdown-1.active {
  background: #9bc7de;
  background: linear-gradient(to right, #9bc7de 0%, #9bc7de 78%, #ffffff 78%, #ffffff 100%);
}

#render, #year-input {
  display: inline;
  float: left;
  height: 25px;

}

#year-input {
  padding-left:5%;
}

#render {
  background: #4e2b47;
  text-align: center;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;

  color: white;
  width: 26px
  line-height: 25px;
}
.year-input {
  margin-left: 25px;

  width: 100%;
}
