html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro';
  font-weight: lighter;
  background-color: black;
}

.title {
  position: relative;
  background-color: #eee;
  left:0;
  width:100%;
  top:0;
  line-height: 120px;
  height: 120px;
  color: #293971;
  display: block;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  z-index: 90;
}



.after-map {
  width: 100%;
  height: auto ;
  background-color: #4F6877;
  color: white;
  position: relative;
  float: left;
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
  font-weight: lighter;
  overflow-x: hidden;
  overflow-y: hidden;
}

.about-nav {
  width: 100%;
  height: 5%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 4px solid #d1bf71;
}

.about-link, .about-us-link {
  font-weight: 400;
  font-size: 1.7em;
  width: 40%;
  color: #d1bf71;
  height: auto;
  line-height: 1.6em;
  display: inline-block;
  margin-top: 15px;
  text-align: center;
}

.about-link:hover, .how-to-link:hover, .about-us-link:hover {
  color: #f6d544;
}

.how-to-bar {
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #4F6877;
  z-index: 90;
}

.how-to-link {
  font-weight: 400;
  font-size: 1.4em;
  color: #d1bf71;
  height: auto;
  line-height: 1.6em;
  display: inline-block;
  text-align: center;
  float: right;
  width: auto;
  margin-right: 3%;
  background-color: #4F6877;
  z-index: 90;

}

.how-to {
  position: absolute;
  width: 45%;
  height: auto;
  background-color: transparent;
  display: block;
  z-index: 30;
  right: 0;
  float: right;
  -webkit-transition: 1s ease-in;
  -moz-transition: 1s ease-in;
  -o-transition: 1s ease-in;
  transition: 1s ease-in;
}



article {
  /*margin: 24px;*/
  line-height: 29px;
  font-size: 1.4em;
}

.how-to-article article {
  float: left;
  background-color: #293971;
  opacity: .95;
  color: #f6d544;
  padding: 4% 6%;
  margin: 0;
}

.how-to-article a {
  font-weight: 400;
}

.how-to-article a:hover {
  color: white;
}

.how-to-article {
  background-color: red;
  width: 100%;
  height: auto;
  margin-left: auto;
  clear: both;
}

.close-button {
  position: relative;
  margin-top: 40px;
  bottom: 0;
  font-weight: 400;
  line-height: 16px;
  border: 2px solid #f6d544;
  width: 50px;
  height: 20px;
  font-size: 20px;
  color: #f6d544;
  padding: 10px;
  float: right;
}

.close-button:hover {
  border: 2px solid white;
  color: white;
}

.slideup {
  -webkit-transform: translate(0,-55em);
  -moz-transform: translate(0,-55em);
  -o-transform: translate(0,-55em);
  -ms-transform: translate(0,-55em);
  transform: translate(0,-55em);

}

.slidedown {
  -webkit-transform: translate(0,55em);
  -moz-transform: translate(0,55em);
  -o-transform: translate(0,55em);
  -ms-transform: translate(0,55em);
  transform: translate(0,55em);

}

h1 {
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #b9eadc;
  font-size: 4em;
  position: relative;
  line-height: inherit;
  /*padding: 40px 0 40px 0;*/
  float: left;
}

.about, .us {
  position: relative;
  margin-top: 0 5%;
  width: 80%;
  height: 620px;
  /*float: left;*/
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  background-color: #4F6877;
  color: white;
  text-align: center;
}

.us {
  display: none;
}

strong {
  font-weight: 400;
  color: #f6d544;
}
.about article, .us article {
  margin: 15px;
}

svg {
  display: block;
}

#content {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100vw - 1400px);
  min-height: 560px;
  /*overflow: hidden;*/
}

.map-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

#map-selection {
  position: relative;
  display: block;
  height: 40px;
  width: 399px;
  z-index: 9;
}

#map-selection ul {
  display: block;
  width: 100%;
}


#map-selection ul li {
  display: inline-block;
  float: left;
  width: 33.3%;
  line-height: 36px;
  color: #293971;
  font-weight: normal;
  text-align: center;
  background-color: powderblue;

}

.chart-info, .chart-title, .beachball{
  position: relative;
  width: 49.3%;
  height: 70px;
  margin-right: 2.8%;
  background-color: rgba(255, 255, 255, 0.59);
  margin-top: 170px;
  float: right;
  z-index: 10;
  color: #293971;;
  text-align: center;
  font-weight: 600;
  line-height: 24px;
}

.chart-info span {
  /*font-weight: 400;*/
}

.beachball {
  height: 30px;
  margin-top: 160px;
}


.chart-title {
  width: 44.2%;
  height: 33px;
  margin-top: 34px;
  font-weight: bold;
  font-size: 1.3em;
  color: teal;
  line-height: 33px;
}

#map-selection ul li:hover {
  color: black;
  /*color: #f6d544;;*/
}

.mapclick {
  background-color: #d1bf71;
}

#dropdown {
  font-size: 0;
  height: 60px;
}

#map {
  width: 500px;
}

#chart-container {
  position: relative;
  width: 100%;
  height: auto;
  float: left;
}


#chart {
  width: 100%;
  height: auto;
  position: relative;
  /*width: calc(100vw - 500px);
  height: calc(100vw - 800px);*/
}

#map, #chart {
  height: calc(100vh - 60px);
  float: left;
  max-height: 600px;
}

#map svg, #map rect {
  height: 100%;
  width: 100%;
}

#chart svg {
  position: relative;
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  height: 60%;
  width: 90%;
}


text {
  fill: #293971;
}



#chart {
  position: relative;
  /*background-color: red;*/
  /*width: auto;
  height: auto;*/
}

.arrow-down {
  width: 80px;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-clip-path: polygon(57% 0, 100% 0, 50% 40%, 0 0);
  clip-path: polygon(57% 0, 100% 0, 50% 40%, 0 0);
  background-color: #d1bf71;;
  border: none;
}

.arrow-down:hover {
  background-color: #f6d544;
}

.footer {
  bottom:0;
  background-color: #B9EADC;
  width:100%;
  height:80px;   /* Height of the footer */
}

.group:after {
  content: "";
  display: block;
  clear: both;
}


/* 1100px is about where things start to break */
