<!DOCTYPE html>
    <html itemscope itemtype="http:www.california-reservoir.info">
    <head>
      <meta charset="utf-8">
      <title>The California Reservoir Review</title>
      <meta name="description" content="A tool for facilitating better understanding of California's reservoirs" />


    <meta itemprop="name" content="The California Reservoir Review">
    <meta itemprop="description" content="An interactive map with charted data showing the fluctuations in California's water supply over the last 25 years">
    <meta itemprop="image" content="http://www.california-reservoir.info/littleres.png">

    <meta name="twitter:card" content="http://www.california-reservoir.info/littleres.png">
    <meta name="twitter:title" content="The California Reservoir Review">
    <meta name="twitter:description" content="A data visualization tool looking at 25 years of CA's water supply">
    <meta name="twitter:creator" content="@clairuswoodsii">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.california-reservoir.info/littleres.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="The California Reservoir Review" />
    <meta property="og:type" content="map" />
    <meta property="og:url" content="http://www.california-reservoir.info" />
    <meta property="og:image" content="http://www.california-reservoir.info/littleres.png" />
    <meta property="og:description" content="A data visualization tool looking at 25 years of CA's water supply" />
    <meta property="og:site_name" content="The California Reservoir Review" />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

</body>
</html>
